<div class="small-6 small-centered columns">
  <h1 class="text-center">Recommended Movies</h1>

  <ul>
    <h5 style="text-align:left;float:left;">Title</h5>
    <h6 style="text-align:right;float:right;">Score</h6>
    <hr style="clear:both;"/>
    <% if @recommendations == [] %>
      <p class= text-center>Not enough movies have been rated to determine the best movies for you. We reccomend rating atleast 20.</p>
    <% else %>
      <% @recommendations.each do |recommendation| %>
        <li>
          <%= link_to recommendation.movie.title, recommendation.movie.url %>
          <div class="right">
            <%= recommendation.score%>
          <div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="active text-center">
    <%= link_to 'Add a Movie', '/movies/new', class: "button small radius" %>
    <%= link_to 'Rate More Movies', '/movies', class: "button small radius" %>
  </div>
</div>
