<p class="notice">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <section >
        <ul>
          <% if !user_session %>
            <li class="active">
              <%= link_to 'Rate Movies', new_user_session_path, class: "button" %>
            </li>
          <% else %>
            <li class="active">
              <%= link_to 'Movie Index', movies_path, class: "button" %>
            </li>
          <% end %>
        </ul>
    </section>
</p>
