<h4><%= @user.email %></h4><br>
  <div>
    <% if @recs.length == 0 %>

      <p>You have not rated enough movies for the system to return a recommendation. You should rate atleast twenty movies in order to get the best results. </p>

    <% else %>

      <ol>
      <div class="small-6 small-centered columns">
      <h5 class="small-centered columns">Title and score</h5>
      <% @recs.each do |movie_id, score| %>
        <li>
          <%= Movie.where(id: movie_id)[0].title%>
          <div class="right">
             <%= "%.1f" % score %>
          </div>
        </li>
      <% end %>
    </div>
      </ol>

    <% end %>
  </div>

