.bg {
  background: image-url('red.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  height: auto;
  width: auto;
}

.panel {
    margin-top: 48px;
    font: normal normal normal 18px/28.6875px Merriweather, sans-serif;
    color: black;
    box-shadow: 10px 10px 5px #414247;
    border:2px ;
    border-radius:25px;
}
